<!DOCTYPE html>
<html>
  <head>
    <title><%= @_current_site.nome %></title>
    <%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag 'formtastic' %>
	<!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
	<!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h1><a href="/"><%= @_current_site.nome %></a></h1>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag :defaults %>
  </body>
</html>
